html {
    margin-top: -4px;
    scrollbar-width: none;
}

section {
    overflow-x: hidden;
}

#containers > div,
#common > div {
    display: flex;
    align-items: center;
    min-width: 200px;
    flex-grow: 1;
}

.userContext-proxy, .placeholders {
    width: 100%;
}

select {
    padding: 2px;
}

div[data-value] {
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding-left: 4px;
}
div[data-value="$proxy"] {
    padding-left: 0;
}
